		<header>
      <h1>Compare Broadband Access Across America</h1>
		</header>
		<div id="main" role="main">
      <p>Check two locations against <a href="http://www.broadbandmap.gov">broadbandmap.gov's</a>
      data to see what broadband providers are available and the speed of their connections</p>
      <form name="input" action="/compare" method="get">
       First Location: <input type="text" name="first" />
       Second Location: <input type="text" name="second" />
        <input id="submit" type="submit" value="Submit" />
      </form>
		</div>

