		<header>
      <h1>Compare Broadband Access Across America</h1>
		</header>
		<div id="main" role="main">
      <p>Just input two locations (addresses, city and state, or zipcode)</p>
      <form name="input" action="/compare" method="get">
       First Location:<input type="text" name="first" />
       Second Location:<input type="text" name="second" />
        <input id="submit" type="submit" value="Submit" />
      </form>
		</div>

