<html>

  <head>
    <title>Compare Broadband</title>
  </head>

  <body>
    <h1>Compare Broadband Access Across America</h1>
    <form name="input" action="/compare" method="get">
      First Location:<input type="text" name="first" />
      Second Location:<input type="text" name="second" />
      <input type="submit" value="Submit" />
    </form>
  </body>

</html>
