		<header>
      <h1>Compare Broadband Access Across America</h1>
		</header>
		<div id="main" role="main">
      <p>Just input two locations (addresses, city and state, or zipcode)</p>
      <form name="input" action="/compare" method="get">
        <p>First Location:<input type="text" name="first" /></p>
        <p>Second Location:<input type="text" name="second" /></p>
        <input type="submit" value="Submit" />
      </form>
		</div>

